<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kartel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        header {
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            line-height: 1.5;
        }

        footer {
            margin-top: 20px;
            font-size: 0.9em;
            color: gray;
        }
    </style>
</head>

<body>
    <header>
        <h1>Welcome, <span th:text="${username}">Name</span>!</h1>
    </header>
    <main>
        <p>We are excited to have you with us.</p>
        <p>Dear Maam/Sir,</p>

        <p>Thank you for choosing KARTER for your car rental needs! We appreciate your business and are excited to
            assist you.</p>

        <p>Your reservation has been successfully processed, and we are currently preparing everything for your upcoming
            rental. One of our team members will reach out to you soon with further details regarding your reservation,
            including pick-up information and any additional services you may need.</p>

        <p>If you have any questions or require assistance in the meantime, please feel free to contact us at
            <strong>91-8766272018</strong>.
        </p>

        <p>Thank you once again for choosing Karter. We look forward to serving you!</p>
    </main>

    <footer>
        <p>Best regards,</p>
        <p>Prakhar Sen<br>
            HR, Karter<br>
            91-8766272018<br>
            <a href="mailto:prakharsen2204@gmail.com">prakharsen2204@gmail.com</a>
        </p>
    </footer>
</body>

</html>